.heart{
    position:relative;
    width: 70px;
    height:55px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 13.5px;
    top: 0;
    width: 13.5px;
    height: 20px;
    background: #fc2e5a;
    margin-left: 20px;
    margin-top: 5px;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

button {
   background: transparent;
   align-items: center;
}

button[type=button] {
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom: 10px;
   padding-top: 20px;
   border: 2px white;
   font-size: 24px;
   text-align: center;
   cursor: pointer;
   outline: none;
   color: #fff;
   border: none;
   box-shadow: 0 1px #999;
   align-items: center;
}

button[type=button]:hover {background-color: teal}

button[type=button]:active {
  background-color: #999;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}